.content__viewer.content__viewer_fullscreen{
  position:fixed !important;
  top:0px !important;
  left:0px !important;
  right:0px !important;
  bottom:0px !important;
  height:100% !important;
  max-height:unset !important;
  transform:unset !important;
}
/*
.content__viewer.content__viewer_fullscreen{
  height:100% !important;
}
*/

.file-render_fullscreen{
  max-height:unset !important;
}

.vjs-tech_fullscreen{
  max-height:unset !important;
}

.vjs-touch-overlay_fullscreen{
  max-height:unset !important;
}

.header_hidden{
  top:-56px !important;
  transition:top 0.6s;
}

/*
.vjs-fullscreen-control{
  display:none !important;
}
*/




.update-banner{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-header-background);
  border-top: 2px solid black;
}

.update-banner-text{
  font-weight: bold;
  margin-left: var(--spacing-m) !important;
  font-size: 18px;
  line-height: 70px;
}

.update-banner-button{
  float: right;
  margin-top: var(--spacing-m) !important;
  margin-right: var(--spacing-m) !important;
  margin-bottom: var(--spacing-m) !important;
}

.update-banner-close{
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  top: -1px;
  width: var(--height-button);
  height: var(--height-button);
  border-radius:var(--border-radius);
  background-color: var(--color-primary);
  margin-top: var(--spacing-m) !important;
  margin-right: var(--spacing-m) !important;
}

.update-banner-loading{
  width:0%;
  height: var(--height-button);
  background-image:url('https://apk.odysee.tv/loading.gif');
  border-radius:var(--border-radius);
  margin-top: var(--spacing-m) !important;
  margin-left: var(--spacing-m) !important;
  margin-right: var(--spacing-m) !important;
  margin-bottom: var(--spacing-m) !important;
}

.update-banner-loading img{
  float:right;
  height: var(--height-button);
  margin-right:-14px;
}