.content__viewer.content__viewer_fullscreen{
  position:fixed !important;
  top:0px !important;
  left:0px !important;
  right:0px !important;
  bottom:0px !important;
  height:100% !important;
  max-height:unset !important;
  width:unset !important;
  transform:unset !important;
}
/*
.content__viewer.content__viewer_fullscreen{
  height:100% !important;
}
*/

.file-render_fullscreen{
  max-height:unset !important;
}

.vjs-tech_fullscreen{
  max-height:unset !important;
}

.video-js .vjs-touch-overlay.vjs-touch-overlay_fullscreen{
  max-height:unset !important;
}

.header_hidden{
  top:-56px !important;
  transition:top 0.6s;
}

.vjs-cast-overlay .vjs-playing, .vjs-cast-overlay .vjs-paused{
  display:absolute !important;
  left:0 !important;
  top:0;
  width:100% !important;
  height:100% !important;
}

.vjs-cast-overlay .vjs-play-control .vjs-icon-placeholder::before{
  width:100%;
  height:100%;
  top:80px;
}

.update-banner{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-header-background);
  border-top: 2px solid black;
}

.update-banner-text{
  font-weight: bold;
  margin-left: var(--spacing-m) !important;
  font-size: 18px;
  line-height: 70px;
}

.update-banner-button{
  float: right;
  margin-top: var(--spacing-m) !important;
  margin-right: var(--spacing-m) !important;
  margin-bottom: var(--spacing-m) !important;
}

.update-banner-close{
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  top: -1px;
  width: var(--height-button);
  height: var(--height-button);
  border-radius:var(--border-radius);
  background-color: var(--color-primary);
  margin-top: var(--spacing-m) !important;
  margin-right: var(--spacing-m) !important;
}

.update-banner-loading{
  width:0%;
  height: var(--height-button);
  background-image:url('https://apk.odysee.tv/loading.gif');
  border-radius:var(--border-radius);
  margin-top: var(--spacing-m) !important;
  margin-left: var(--spacing-m) !important;
  margin-right: var(--spacing-m) !important;
  margin-bottom: var(--spacing-m) !important;
}

.update-banner-loading img{
  float:right;
  height: var(--height-button);
  margin-right:-14px;
}

.vjs-fake-progress-control{
  opacity:0;
  position:absolute;  
  left:var(--spacing-s);
  right:var(--spacing-s);
  bottom:90%;
  height:0.3em;
  padding-top: 21px;
  border-radius:4px;
  background:#474747 !important;
}

.vjs-cast-overlay .vjs-icon-placeholder::before{
  padding:80px !important;
  top:unset !important;
}

.vjs-cast-overlay .vjs-volume-panel{
  width: var(--spacing-m) !important;
  opacity:0 !important;
}

.vjs-cast-overlay .vjs-progress-control{
  opacity:0;
}

.vjs-cast-overlay .vjs-fake-progress-control{
  opacity:1;
}

.vjs-cast-overlay .vjs-setting-button{
  display:none;
}

body.pip-active *,
html.pip-active * {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

body.pip-active *::-webkit-scrollbar,
html.pip-active *::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}